<div class="main_bg">
  <div class="login-container">
    <img src="https://i.postimg.cc/Y9KLVq7F/logo-png.png" alt="">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4">
        <h2 class="text-center mb-4">Admin Login</h2>
    
        <!-- Email Field -->
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input 
            id="email" 
            formControlName="email" 
            type="email" 
            class="form-control" 
            placeholder="Enter your email" 
            [ngClass]="{'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}" 
          />
          <div class="invalid-feedback">
            Email is required and must be valid.
          </div>
        </div>
    
        <!-- Password Field -->
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Password:</label>
          <input
            id="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            placeholder="Enter your password"
          />
          <span
            class="password-toggle-icon"
            (click)="togglePasswordVisibility()"
            style="cursor: pointer;"
          >
            <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </span>
          <div class="invalid-feedback">
            Password is required.
          </div>
        </div>
        
    
        <!-- Admin Type Dropdown -->
        <div class="mb-3">
          <label for="adminType" class="form-label">Admin Type:</label>
          <select 
            id="adminType" 
            formControlName="adminType" 
            class="form-select" 
            [ngClass]="{'is-invalid': loginForm.get('adminType')?.invalid && loginForm.get('adminType')?.touched}" 
          >
            <option value="G">General</option>
            <option value="L">Logistics</option>
            <option value="T">Technical</option>
          </select>
          <div class="invalid-feedback">
            Admin type is required.
          </div>
        </div>
    
        <!-- Submit Button -->
        <div class="text-center">
          <button 
            type="submit" 
            class="btn btn-outline-primary w-100" 
            [disabled]="loginForm.invalid">
            Login
          </button>
        </div>
      </form>
  </div>
  <div *ngIf="showPopup" class="popup-container">
    <div class="popup-content" [ngClass]="isSuccess ? 'success' : 'error'">
      <span class="popup-icon">
        <i *ngIf="isSuccess" class="fas fa-check-circle"></i>
        <i *ngIf="!isSuccess" class="fas fa-exclamation-circle"></i>
      </span>
      <div class="popup-message">
        <p>{{ popupMessage }}</p>
      </div>
    </div>
  </div>
</div>